<!DOCTYPE html>
<html>
<head>


  <title>Vertoal'n</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- 
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

  <!-- Latest compiled and minified CSS -->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

<!--   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>

</head>
<body>
  <div class="container">
    <div class="jumbotron" style="background-color:#1daeff !important;">
      <h2 style="color:#fff;">Translation system</h2>      
      <p style="color:#fff;">Using Deep Learning to translate</p>
    </div>
    <p>Rick Kosse</p>           
  </div>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <div class="card-header" >Nederlands-Gronings</div>
        <div class="card-body">
          <div class="container">
            <form class="form row justify-content-between">
              <div class="form-group col-6 col-md-5">
                <label class="sr-only" for="nameInput">Translation</label>
                <textarea  type="textarea" class="form-control" rows="5" id="nameInput" required></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </div>
              <input class='col-1 text-truncate text-center' type="checkbox" data-width="100" data-on="NL-Gro" data-off="Gro-NL" class='toggle' checked data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary">
              <div class='status'></div>
              <div class="alert-container col-6 col-md-5">
                <div id="successAlert" class="alert alert-secondary" role="alert" style="display:none;"></div>
                <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>

<!--   <p>Click the button to switcht the language</p>

  <button >Try it</button>

  <p id="demo"></p>
 -->
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--   <script src="{{ url_for('static', filename='css/styles.css') }}"></script>
 -->  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>



</body>
</html>


</body>
</html>