{% extends "form.html" %}
{% block content %}
    <div class="card-body">
    <div class='sent_display'>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="sr-only" for="trans_input"></label>
                    <textarea class="form-control z-depth-2" id="trans_input" rows="5"
                              placeholder="Vertaal naar Nederlands..." required></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"></label>
                    <div class="preloader-wrapper small active" id="loadingDiv" style="display:none;">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div id="successAlert" class="alert alert-secondary mb-0" role="alert"
                         style="display:inline-block;"><p src="{{ sentence }}" id='sent_display'>{{ sentence }}</p>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">Verstuur

                    </button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <div class='forward'>
                        <button id='go_forward' class='navigate btn btn-primary'>Volgende</button>
                    </div>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">

                    <div class='back'></div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
