{% extends "bootstrap/base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron" style="background-color:#1daeff !important;">
    <h2 style="color:#fff;">Translation system</h2>      
    <p style="color:#fff;">Using Deep Learning to translate</p>
  </div>
  <p>Rick Kosse</p>           
</div>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color:#1563ff ">Nederlands-Gronings</div>
      <div class="panel-body">

        <!-- Main Input For Receiving Query to our ML -->

        <form action="{{ url_for('predict')}}" method="POST">
          <textarea type="text"style="height:100px; width:400px" name="namequery"></textarea>
          <br>
         <button type="submit" class="btn btn-primary">Predict</button>
       </form>
     </div>

     <!-- Main Input For Receiving Query to our ML --> 


   </div>
 </div>
 {% endblock %}
 {% block styles %}
 {{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
 <link rel="stylesheet"
 href="{{url_for('.static', filename='css/styles.css')}}">
 {% endblock %}